<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header">
</header>
<p th:text="'Привет, чел!'" />

<div class="container mt-5 mb-5">
    <h1>Добавление патчноута</h1>
    <form action="/news/add" method="post">
        <input type="text" name="title" placeholder="Введите название патчноута" class="form-control"><br>
        <input type="text" name="announce" placeholder="Введите анонс" class="form-control"><br>
        <textarea type="text" name="text" placeholder="Введите текст патчноута" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Добавить патчноут</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer">
</div>
</body>
</html>
